:root {
  font: 16px / 1 sans-serif;
  background-color: #008BA1;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  background-color: #ddf2f3;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: .5rem;
}

h1 {
  text-align: center;
  color: #445467;
  margin: 0;
  padding-top: 1rem;
  font-family: "Georgia";
  font-weight: lighter;
}

.TopNav ul {
  font: sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: white;
  background-color: #00bfd5;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: .5rem;
}

.PageBody {
  display: flex;
  margin-bottom: 1rem;
}

img {
  width: auto;
  height: 10rem;
  margin: .25rem;
}

.KoTD {
  border-style: solid;
  border-width: 1px;
  border-color: #008BA1;
  margin-left: 2rem;
}

.header {
  font-family: Tahoma, sans-serif;
  font-weight: 800;
  color: #415467;
  margin: .25rem;
}

h2 {
  font-family: Tahoma, sans-serif;
  color: #415467;
}

.BusyKittehs {
  margin-left: 2rem;
  margin-right: 2rem;
}

.BottomNav ul {
  font: sans-serif;
  background-color: #D3D3D3;
  text-decoration: underline;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 1rem
}